<header th:fragment="navPublica" class="main-header">
  <nav class="nav-container">
    <div class="nav-left">
      <a th:href="@{/}" class="logo-link">
        <img th:src="@{/assets/logo-empresa.png}" alt="Logo BolsaEmpleo" class="logo-img">
        <span class="logo-text">BolsaEmpleo</span>
      </a>

      <ul class="nav-menu">
        <li><a th:href="@{/}">Inicio</a></li>
        <li><a th:href="@{/puestos}">Buscar puestos</a></li>
        <li><a th:href="@{/registro-empresa}">Registro Empresa</a></li>
        <li><a th:href="@{/registro-oferentes}">Registro Oferente</a></li>
      </ul>
    </div>

    <div class="nav-right">
      <a th:href="@{/login}" class="nav-login-link">Login</a>
    </div>
  </nav>
</header>